---
import Slides from '@layouts/Slides.astro'
import urlDifference from './url-difference.jpg';
---

<Slides title="The Internet">
  <!-- OVERVIEW -->
  <section>
    <h2>The Internet</h2>
    <blockquote style="font-size: .8em">Week 4</blockquote>
    <!-- 09/26/2024 -->
  </section>

  <!-- COMPUTER NETWORKS -->
  <section class="notes">
    <section>
      <h3>Computer Networks</h3>
      <img src="https://images.pexels.com/photos/1624895/pexels-photo-1624895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" height="400">
    </section>

    <section>
      <h4>What is a Network?</h4>
      <blockquote class="fragment">
        A collection of computers that talk to each other
      </blockquote>
    </section>

    <section>
      <h4>A Network is Not a Single Entity</h4>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lifewire.com%2Fthmb%2FxeyIGRTwXfoyBNC0aKThyfLKE2s%3D%2F768x0%2Ffilters%3Ano_upscale()%3Amax_bytes(150000)%3Astrip_icc()%2Fcity-network-859747880-5b1e8f1704d1cf003c165fe0.jpg&f=1&nofb=1&ipt=6055d0c3b515f2ee629b57183727e10ade1afda29c6ac91a569b170e185b9f04&ipo=images" alt="" height="400">
      <aside class="notes">
        <p>Imagine the difference between a group chat that can be shut off vs. all your friends chats with each other</p>
      </aside>
    </section>

    <section>
      <h4>Networks Are Complex</h4>
      <ul>
        <li>Modems</li>
        <li>Routers</li>
        <li>Switches</li>
        <li>Firewalls</li>
      </ul>
    </section>

    <section>
      <h4>Not Every Network is the Internet</h4>
      <ul>
        <li>Local Area Networks (LANs)</li>
        <li>Virtual Private Networks (VPNs)</li>
        <li>Industrial Control Systems (ICS) Networks</li>
      </ul>
    </section>

    <section>
      <h4>Modems vs. Routers</h4>
      <table>
        <tr>
          <th>Modems</th>
          <th>Routers</th>
        </tr>
        <tr>
          <td>Modulates/demodulates</td>
          <td>Routes traffic</td>
        </tr>
        <tr>
          <td>Communicates with ISP</td>
          <td>Communicates with local devices</td>
        </tr>
        <tr>
          <td></td>
          <td>Adds security (port forwarding, firewall)</td>
        </tr>
      </table>
    </section>

    <section>
      <h4>Review</h4>
      <ul>
        <li>What is a network?</li>
        <li class="fragment">Is a network a single entity?</li>
        <li class="fragment">Do networks only include computers?</li>
        <li class="fragment">Is every network part of the internet?</li>
        <li class="fragment">Is a modem the same as a router?</li>
      </ul>
    </section>
  </section>

  <!-- HISTORY -->
  <section class="notes">
    <section>
      <h3>History of The Internet</h3>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Arpanet_in_the_1970s.png/450px-Arpanet_in_the_1970s.png" alt="" height="400">
    </section>

    <section>
      <h4>ARPANET</h4>
      <ul>
        <li>Advanced Research Projects Agency Network</li>
        <li>1969</li>
        <li>Defense Communcations Agency (DCA)</li>
      </ul>
    </section>

    <section>
      <h4>World Wide Web</h4>
      <ul>
        <li>Origin of the www subdomain</li>
        <li>1991</li>
        <li>Tim Berners-Lee</li>
      </ul>
    </section>

    <section>
      <h4>Mosaic</h4>
      <ul>
        <li>1993</li>
        <li>University of Illinois</li>
        <li>Became Netscape</li>
      </ul>
    </section>

    <section>
      <h4>Mosaic</h4>
      <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW11YXdpY3BqN3RrOXp0OHNsdmo3anM3dmEyMHYzajBkZjV6ZTNtMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QU3IYt7FzAYWVJqd2j/giphy.webp" alt="" height="400">
    </section>

    <section>
      <h4>The Internet is <strong>Not</strong>...</h4>
      <ul>
        <li>WiFi</li>
        <li class="fragment">The Cloud</li>
        <li class="fragment">Google</li>
      </ul>
    </section>

    <section>
      <h4>Review</h4>
      <ul>
        <li>What network became the internet?</li>
        <li class="fragment">What system is abbreviated WWW?</li>
        <li class="fragment">How is WiFi different than the internet?</li>
        <li class="fragment">Is a browser necessary to use the internet?</li>
      </ul>
    </section>
  </section>

  <!-- THE INTERNET -->
  <section>
    <section>
      <h3>The Internet</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWkyaHQ5cWRiamxtZ3lrN3g2NzJ6eDRxbWRlMDkyOHNhdnF6YTE2byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dwmNhd5H7YAz6/giphy.webp" alt="" height="400">
    </section>

    <section>
      <h4>IP Address</h4>
      <ul>
        <li>Internet Protocol</li>
        <li class="fragment">Like a house number</li>
        <li class="fragment">127.0.0.1</li>
      </ul>
    </section>

    <section>
      <h4>URLs</h4>
      <ul>
        <li>Uniform Resource Locator</li>
        <li class="fragment">Human-readable</li>
        <li class="fragment">Different than Uniform Resource Identifier (URI)</li>
      </ul>
    </section>

    <section>
      <h4>URLs</h4>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.hubspot.com%2Fhs-fs%2Fhubfs%2FParts%2520of%2520a%2520URL.png%3Fwidth%3D1300%26name%3DParts%2520of%2520a%2520URL.png&f=1&nofb=1&ipt=c94f387b724cf5aa2b549f13fa26825fd9cc3aa4d8a5dd49216b348d681247bd&ipo=images" alt="" height="400">
    </section>

    <section>
      <h4>URLs</h4>
      <img src={urlDifference.src} alt="" height="400">
    </section>

    <section>
      <h4>Review</h4>
      <ul>
        <li>Can an IP address contain letters?</li>
        <li class="fragment">What does URL stand for?</li>
      </ul>
      <aside class="notes">
        <p>Technically yes, but only if it is IPv6</p>
      </aside>
    </section>
  </section>

  <!-- OUTRO -->
  <section>
    <h2 class="r-fit-text">Now for some coding...</h2>
    <blockquote><a href="/2024/fall/computer-science/slides/python-lists">Python Lists</a></blockquote>
  </section>
</Slides>
