---
import Slides from '@layouts/Slides.astro'
import mooresLawImg from './moores-law-graph.jpg';
---

<Slides title="Hello, World!">
  <section>
    <h2 class="r-fit-text">Computer Science</h2>
    <p>Fall 2024</p>
    <p>Rylan Schubkegel</p>
  </section>

  <section>
    <section>
      <h2>About Me</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      <h3>Education</h3>
      <ul>
        <li class="fragment">Homeschooled</li>
        <li class="fragment">Skagit Valley College</li>
        <li class="fragment">George Fox University</li>
      </ul>
      <aside class="notes">
        <p>
          Homeschooling expeiences included:
          <ul>
            <li>First Class Co-op (Friday School)</li>
            <li>Skagit Defenders Speech &amp; Debate</li>
          </ul>
        </p>
        <p>I attended Skagit Valley College through Running Start.</p>
        <p>I got my bachelor of science in computer science from GFU in 2022.</p>
      </aside>
    </section>

    <section>
      <h3>Interests</h3>
      <ul>
        <li class="fragment">Game Development</li>
        <li class="fragment">Dancing</li>
        <li class="fragment">Townball</li>
        <li class="fragment">Lots more!</li>
      </ul>
    </section>
  </section>

  <section>
    <h2>About <em>You</em></h2>
    <ul>
      <li>Education</li>
      <li>Interests</li>
      <li>Why are you taking this class?</li>
    </ul>
    <aside class="notes">
      <p>
        <ul>
          <li>Were you always homeschooled?</li>
          <li>What do you like to do <em>outside of school</em>?</li>
          <li>Did you sign up on your own accord?</li>
        </ul>
      </p>
    </aside>
  </section>

  <section>
    <section>
      <h2>About This Course</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      <h3>Resources</h3>
      <ul>
        <li>
          <a href="/computer-science/" target="_blank">hcc.rschubkegel.com</a>
          <ul>
            <li>Syllabus</li>
            <li>Assignments</li>
            <li>Resources</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Course Website Tour</h3>
      <a href="/2024/fall/computer-science" target="_blank">Course Site</a>
      <aside class="notes">
        <ul>
          <li>Course resources are generic to the whole course</li>
          <li>Weekly resources are specific to each week</li>
        </ul>
      </aside>
    </section>

    <section>
      <h3>Syllabus Review</h3>
      <a href="/2024/fall/computer-science/syllabus" target="_blank">Syllabus</a>
      <aside class="notes">
        <p>
          <ul>
            <li>Course goals are not <em>just</em> programming</li>
            <li><strong>MAKE SURE TO EMPHASIZE ASSIGNMENT EXPECTATIONS</strong></li>
          </ul>
        </p>
      </aside>
    </section>
  </section>

  <section>
    <h3>Enough of the boring stuff...</h3>
    <img src="https://i.giphy.com/lSxpaFCtsOUpfiBYUV.webp" alt="" height="400">
  </section>

  <section>
    <section>
      <h2>What is a Computer?</h2>
      <p>⬇️⬇️⬇️</p>
      <aside class="notes">
        <p>If there are no guesses, encourage "wrong answers only"</p>
      </aside>
    </section>

    <section>
      <blockquote>All computers have four roles:</blockquote>
      <ul>
        <li class="fragment">Input</li>
        <li class="fragment">Storage</li>
        <li class="fragment">Processing</li>
        <li class="fragment">Output</li>
      </ul>
      <aside class="notes">
        <p>Have students give examples of each of these</p>
      </aside>
    </section>

    <section>
      Computers are <strong>general purpose</strong>
      <aside class="notes">
        <p>Not ell electronics are computers; for example:</p>
        <ul>
          <li>Power tools</li>
          <li>Traffic lights</li>
          <li>Ultrasound machines</li>
        </ul>
      </aside>
    </section>

    <section>
      Digital computers have <strong>hardware</strong> and <strong>software</strong>
    </section>

    <section>
      Computers are <strong>fast</strong>
      <div class="r-stack">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/ENIAC_Penn1.jpg/2560px-ENIAC_Penn1.jpg" alt="" height="400" class="fragment current-visible">
        <img src="http://www.columbia.edu/cu/computinghistory/608.jpg" alt="" height="400" class="fragment current-visible">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Deep_Blue.jpg" alt="" height="400" class="fragment current-visible">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/IPhone_First_Generation_8GB_%283677961514%29.jpg" alt="" height="400" class="fragment current-visible">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.4gamers.com.tw%2Fckfinder%2Ffiles%2FElvis%2FReview%2FIntel-Core-i9-13900K-and-i5-13600K%2F09.jpg&f=1&nofb=1&ipt=785ddb2ac1553a4c55302bcb1fee3c97e6b790a53666d0062f5e0ec7cd0272b2&ipo=images" alt="" height="400" class="fragment current-visible">
      </div>
      <blockquote>How many instructions can be executed per second?</blockquote>
      <aside class="notes">
        <ul>
          <li>ENIAC (1945): 5,000</li>
          <li>IBM 608 (1957): 4,500</li>
          <li>Deep Blue (IBM, 1997): 120,000,000 (per CPU)</li>
          <li>iPhone (2007): 620,000,000</li>
          <li>Intel Core i9 (2024): 6,200,000,000</li>
        </ul>
      </aside>
    </section>

    <section>
      Moore's Law
      <blockquote><small>The number of transistors on a microchip doubles approximately every two years.</small></blockquote>
      <img src={mooresLawImg.src} height="400">
      <aside class="notes">
        <p>
          Proposed by Gordon Moore, co-founder of Intel, in 1965.
          This has been true for around 50 years (up to ~2015).
        </p>
      </aside>
    </section>
  </section>

  <section>
    <section>
      <h2>Instructing a Computer</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      Computers are <strong>dumb</strong>
      <aside class="notes">
        <p>They do not think for themselves; they do exactly what they are told</p>
      </aside>
    </section>

    <section>
      Exercise: Tie a Shoe
      <aside class="notes">
        <p>Have students "write a program" to tie a shoe.</p>
        <p>Demonstrate that the program needs <em>very specific</em> instructions.</p>
      </aside>
    </section>

    <section>
      The Language of Computers
      <blockquote class="fragment">Binary</blockquote>
      <aside class="notes">
        <p>As opposed to:</p>
        <ul>
          <li>Decimal</li>
          <li>Hexadecimal</li>
        </ul>
      </aside>
    </section>

    <section>
      Exercise: Binary Arithmetic
      <aside class="notes">
        <p>Demonstrate <strong>counting</strong>, <strong>adding</strong>, and <strong>subtracting</strong></p>
      </aside>
    </section>

    <section>
      <p>
        Levels of Abstraction
        <ul>
          <li class="fragment">Machine code</li>
          <li class="fragment">Assembly language</li>
          <li class="fragment">Low-level language</li>
          <li class="fragment">High-level language</li>
        </ul>
      </p>
      <aside class="notes">
        <ul>
          <li>Binary</li>
          <li>x86, ARM, MIPS</li>
          <li>C, Rust</li>
          <li>Python, JavaScript, C#, Swift</li>
        </ul>
      </aside>
    </section>

    <section>
      <blockquote>Machine Code (binary)</blockquote>
      <pre>
        <code data-trim data-noescape class="language-html">
          0110 1000 0010 0001 0000 1010 0000 0000
          1010 0011 0000 1101 0000 0000 0000 0110
          0110 1000 0110 1111 0111 0010 0110 1100 0110 0100
          1010 0011 0000 1000 0000 0000 0000 0110
          0110 1000 0110 1111 0010 1100 0010 1000 0101 0111
          1010 0011 0000 0100 0000 0000 0000 0110
          0110 1000 0100 1000 0110 0101 0110 1100 0110 1100
          1010 0011 0000 0000 0000 0000 0000 0110
          1011 0000 0000 0000 0000 0000 0000 0110
          1011 0000 0000 0000 0000 0000 0000 0000
          1011 0000 0000 0000 0000 0000 0000 0001
          0110 1000 0000 0100 0000 0000 0000 0000
          1100 1101 1000 0000
          0110 1000 0000 0001 0000 0000 0000 0000
          1100 1101 1000 0000
        </code>
      </pre>
    </section>

    <section>
      <blockquote>Assembly (RISC)</blockquote>
      <pre>
        <code data-trim data-noescape class="language-asm">
          .data
          hello:
              .asciiz "Hello, World!\n"

          .text
          main:
              li a0, 4
              la a0, hello
              li a7, 4
              ecall
              li a7, 10
              ecall
        </code>
      </pre>
    </section>

    <section>
      <blockquote>Low-Level Language (C)</blockquote>
      <pre>
        <code data-trim data-noescape>
          int main() &lbrace;
            printf("Hello, World!\n");
            return 0;
          &rbrace;
        </code>
      </pre>
    </section>

    <section>
      <blockquote>High-Level Language (Python)</blockquote>
      <pre>
        <code data-trim data-noescape>
          print("Hello, World!")
        </code>
      </pre>
    </section>
  </section>

  <section>
    <section>
      <h2>Coming Up...</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      <h2>Homework</h2>
      <ul>
        <li class="fragment">Videos</li>
        <li class="fragment">Quiz</li>
        <li class="fragment">Project</li>
      </ul>
    </section>

    <section>
      <h2>Next Class</h2>
      <blockquote>Online</blockquote>
      <aside class="notes">
        <p>Platform determined by what students responded to in intro survey</p>
        <p>Check out Chromebook and meet in student center, or join from home!</p>
      </aside>
    </section>

    <section>
      <h2>Have a good week!</h2>
    </section>
  </section>
</Slides>
