---
import Slides from '@layouts/Slides.astro'
const title = 'Artificial Intelligence'
---

<Slides title={ title }>
  <!-- OVERVIEW -->
  <section>
    <h2>{ title }</h2>
    <blockquote style="font-size: .8em">Week 6</blockquote>
    <!-- 10/10/2024 -->
  </section>

  <!-- REVIEW -->
  <section>
    <section>
      <h3>Review</h3>
      <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzE0d2dsZGltMmdjaGFmN2NhMHZmYWY0a2o1eXJ3czJtcG54MXR1NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wvt3tpE4FAKZcGJnkR/giphy.webp" height="400">
    </section>

    <section>
      <h4>Can any computer be a server?</h4>
      <div class="fragment">
        <blockquote>
          Yes!
        </blockquote>
        <p class="context">
          A server is just a <strong>role</strong>.
        </p>
      </div>
    </section>

    <section>
      <p class="context">
        A server is a computer that <em>provides</em>
        <br>
        resources over a network.
      </p>
      <h4 class="fragment">What <em>consumes</em> the server resources?</h4>
      <blockquote class="fragment">
        A <strong>client</strong>.
      </blockquote>
    </section>

    <section>
      <h4>Is the cloud the same as a server?</h4>
      <div class="fragment">
        <blockquote>No!</blockquote>
        <p class="context">
          The cloud is a <em>collection of servers</em>.
        </p>
      </div>
    </section>

    <section>
      <h4>Does the cloud need WiFi?</h4>
      <div class="fragment">
        <blockquote>No!</blockquote>
        <p class="context">
          It does need an internet connection,
          <br>
          but not necessarily a WiFi connection.
        </p>
      </div>
    </section>
  </section>

  <!-- INTELLIGENCE -->
  <section>
    <section>
      <h3><strike>Artificial</strike> Intelligence</h3>
      <img src="https://i.giphy.com/d3mlE7uhX8KFgEmY.webp" height="400">
    </section>

    <section>
      <h4>What is Intelligence?</h4>
      <div class="fragment">
        <blockquote>It's hard to define.</blockquote>
        <p class="context">
          Intelligence is a <em>suitcase word</em>.
        </p>
      </div>
    </section>

    <section>
      <blockquote>
        A word that "contain a variety of meanings packed into them."
        <cite hidden>https://alexvermeer.com/unpacking-suitcase-words/</cite>
      </blockquote>
      <p class="context">
        Coined by Marvin Minsky in <em>The Emotion Machine</em>.
      </p>
    </section>

    <section>
      <p>
        Examples of suitcase words:
        <ul>
          <li class="fragment">Consciousness</li>
          <li class="fragment">Experience</li>
          <li class="fragment">Conscience</li>
          <li class="fragment">Thinking</li>
          <li class="fragment"><strong>Intelligence</strong></li>
        </ul>
      </p>
    </section>

    <section>
      <h4>Dimensions of Intelligence</h4>
      <ul>
        <li class="fragment">Logical</li>
        <li class="fragment">Verbal</li>
        <li class="fragment">Social</li>
        <li class="fragment">Emotional</li>
      </ul>
    </section>

    <section>
      <h4>Characteristics of Intelligence</h4>
      <ul>
        <li class="fragment">Understanding</li>
        <li class="fragment">Thinking</li>
        <li class="fragment">Interaction</li>
      </ul>
    </section>

    <section>
      <h4>For Our Purposes...</h4>
      <blockquote>Intelligent <em>agents</em> percieve, reason, and act.</blockquote>
    </section>
  </section>

  <!-- ARTIFICIAL INTELLIGENCE -->
  <section>
    <section>
      <h3>Artificial Intelligence</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjRrNWs2YWNiaTF3NDBzYno5YW84MTZremRuZnZ3a2dnOHlpNThjYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Y4PkFXkfTeEKqGBBsC/giphy.webp" height="400">
    </section>

    <section>
      <h4>Types of AI</h4>
      <ul>
        <li class="fragment">Symbolic</li>
        <li class="fragment">Neural Networks</li>
      </ul>
      <aside class="notes">
        <p>
          Symbolic example: ruleset for medical diagnosis with reasoning.
        </p>
        <p>
          Most AI we interact with today is a neural network, including
          Large Language Models (LLM),
          Generative Adversarial Networks (GAN),
          and Convolutional Neural Networks (CNNs).
        </p>
      </aside>
    </section>

    <section>
      <h4>Machine Learning</h4>
      <ul>
        <li class="fragment">Reinforcement Learning</li>
        <li class="fragment">Supervised Learning</li>
      </ul>
    </section>
    <aside class="notes">
      <p>Just like children, machine learning involes <em>teaching</em>.</p>
      <p>Learning involves repeition with rewards or penalties.</p>
      <p>To train computer vision models, hundreds of thousands of images must be labeled.</p>
    </aside>

    <section>
      <h4>Side Note: CAPTCHA</h4>
      <img src="https://upload.wikimedia.org/wikipedia/en/8/80/Images_Recaptcha.png" height="400">
      <aside class="notes">
        <p>CAPTCHA stands for Completely Automated Public Turing test to tell Computers and Humans Apart.</p>
        <p>Google's reCAPTCHA is a CAPTCHA that provides tons of free testing data.</p>
      </aside>
    </section>

    <section>
      <h4>LLMs</h4>
      <blockquote>Large Language Models</blockquote>
      <ul>
        <li class="fragment">GPT</li>
        <li class="fragment">Gemini</li>
        <li class="fragment">Llama</li>
      </ul>
      <aside class="notes">
        <p>
          LLMs are trained on vast amounts of data.
          They are very impressive and can beat humans at many tasks,
          including ranking in 90th percentile of bar exam (GPT-4).
          However, they are simply predicting what comes next
          based on patterns they've learned during training.
        </p>
        <p>
          <ul>
            <li>OpenAI, Multimodal, Chatbot & API</li>
            <li>Google, Multimodal, Chatbot & API</li>
            <li>Meta, Just text, Open Source</li>
          </ul>
        </p>
      </aside>
    </section>
  </section>

  <!-- THE MORALITY OF AI -->
  <section>
    <section>
      <h3>The Morality of AI</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3lzdnB5cjZsajlob3U0bjR4YXhtdWhjdnZ4eGVnZmNncWh6OHR0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/h8UBzPFeCaTaXfheAz/giphy.webp" height="400">
    </section>

    <section>
      <h4><span style="color:lightcoral">Immoral</span> Uses of AI</h4>
      <ul>
        <li class="fragment">Inappropriate Content</li>
        <li class="fragment">Phishing</li>
        <li class="fragment">Plagiarism</li>
        <li class="fragment">Impersonation</li>
        <li class="fragment">Fake News</li>
      </ul>
      <aside class="notes">
        <p>
          AI is just a tool; in that sense it is amoral.
          The same code of conduct of other tools applies.
        </p>
      </aside>
    </section>

    <section>
      <h4><span style="color:lightgreen">Moral</span> Uses of AI</h4>
      <ul>
        <li class="fragment">Phishing Detection</li>
        <li class="fragment">Accessibility (HCI)</li>
        <li class="fragment">Censorship??</li>
      </ul>
      <blockquote class="fragment" style="font-size: 0.8em">
        Finally, brothers and sisters, whatever is true, whatever is noble, whatever is right, whatever is pure, whatever is lovely, whatever is admirable—if anything is excellent or praiseworthy—think about such things.
        <br>
        <cite>- Philippians 4:8</cite>
      </blockquote>
    </section>

    <section>
      <h4><span style="color:lightcoral">Immoral</span> Training of AI</h4>
      <ul>
        <li class="fragment">Biased Data</li>
        <li class="fragment">Privacy Violations</li>
        <li class="fragment">Non-consentual Data Collection</li>
      </ul>
      <aside class="notes">
        <p>If the data contains biases, the AI model can learn and perpetuate those biases.</p>
        <p>If this data is not properly anonymized or protected, it can be used to identify individuals and violate their privacy.</p>
        <p>In many cases, data is collected from a variety of sources, including social media, public records, and other online sources, without the knowledge or consent of the individuals involved.</p>
      </aside>
    </section>

    <section>
      <h4><span style="color:lightgreen">Moral</span> Training of AI</h4>
      <blockquote class="fragment" style="font-size: 0.8em">
        The fear of the Lord is the beginning of wisdom, and knowledge of the Holy One is understanding.
        <br>
        <cite>- Proverbs 9:10</cite>
      </blockquote>
      <aside class="notes">
        <p>
          <ul>
            <li>Careful selection of training data</li>
            <li>Careful supervision of reinforcement learning</li>
            <li>Respecting others' privacy and dignity as fellow image-bearers (love thy neighbor)</li>
          </ul>
        </p>
      </aside>
    </section>
  </section>

  <!-- PHILOSOPHY -->
  <section>
    <section>
      <h3>The Philosophy of AI</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWhjZnJzZ3BkaDY4emNtZm1zaHk1NHRxMXphaTByOG5ic2RjZWphOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0ID5AW1SmPuG3u0/giphy.webp" height="400">
    </section>

    <section>
      <h4>Identity <span style="color:lightcoral">Crisis</span></h4>
      <blockquote class="fragment" style="font-size: 0.6em">
        The development of full artificial intelligence could spell the end of the human race.
        <br>
        <cite>- Stephen Hawking</cite>
      </blockquote>
      <blockquote class="fragment" style="font-size: 0.6em">
        With artificial intelligence we are summoning the demon.
        <br>
        <cite>- Elon Musk</cite>
      </blockquote>
      <blockquote class="fragment" style="font-size: 0.6em">
        By 2100, our destiny is to become like the gods we once worshipped and feared. But our tools will not be magic wands and potions but the science of computers, nanotechnology, artificial intelligence, biotechnology, and most of all, the quantum theory.
        <br>
        <cite>- Michio Kaku</cite>
      </blockquote>
      <aside class="notes">
        <p>
          In the eyes of the world, AI jeopardizes our humanity.
          Some even say could lead to the end of the human race.
          But where do find our identity?
        </p>
      </aside>
    </section>

    <section>
      <h4>Identity <span style="color:lightgreen">Stability</span></h4>
      <blockquote class="fragment" style="font-size: 0.8em">
        Then God said, “Let us make man in our image, after our likeness.” ...
        <br>
        <cite>- Genesis 1:26</cite>
      </blockquote>
      <blockquote class="fragment" style="font-size: 0.8em">
        The fear of the Lord is the beginning of knowledge; fools despise wisdom and instruction.
        <br>
        <cite>- Proverbs 1:7</cite>
      </blockquote>
      <aside class="notes">
        <p>
          We find our identity in the workmanship of God.
          We are divine image-bearers.
          What is true, noble, and right is a reflection of God's character.
          We can know God experientially, not just cognitively.
        </p>
      </aside>
    </section>

    <section>
      <h4>Characteristics of Intelligence</h4>
      <ul>
        <li class="fragment">Understanding</li>
        <li class="fragment">Thinking</li>
        <li class="fragment">Interaction</li>
      </ul>
      <aside class="notes">
        <p>
          AI falls short in many ways;
          understanding is deeper than symbol matching.
        </p>
      </aside>
    </section>

    <section>
      <h4>The Chinese Room Argument</h4>
      <blockquote class="fragment" style="font-size: 0.8em">
        A computer executing a program cannot have a mind, understanding, or consciousness, regardless of how intelligently or human-like the program may make the computer behave.
        <cite hidden>https://en.wikipedia.org/wiki/Chinese_room</cite>
      </blockquote>
      <aside class="notes">
        The thought experiment starts by placing a computer that can perfectly converse in Chinese in one room, and a human that only knows English in another, with a door separating them.
        Chinese characters are written and placed on a piece of paper underneath the door, and the computer can reply fluently, slipping the reply underneath the door.
        The human is then given English instructions which replicate the instructions and function of the computer program to converse in Chinese.
        The human follows the instructions and the two rooms can perfectly communicate in Chinese, but the human still does not actually understand the characters, merely following instructions to converse.
        Searle states that both the computer and human are doing identical tasks, following instructions without truly understanding or "thinking".
      </aside>
    </section>

    <section>
      <h4>A Final Verse...</h4>
      <blockquote class="fragment" style="font-size: 0.8em">
        They show that the work of the law is written on their hearts, while their conscience also bears witness, and their conflicting thoughts accuse or even excuse them...
        <br>
        <cite>- Romans 2:15</cite>
      </blockquote>
      <aside class="notes">
        <p>
          We are not just rational beings, but we are moral beings.
          God has given us minds and souls.
          By the grace of God, those who believe in Christ are given a heart of flesh instead of a heart of stone.
        </p>
      </aside>
    </section>
  </section>

  <!-- REVIEW -->
  <section>
    <section>
      <h3>Review</h3>
      <img src="https://i.giphy.com/yNs2a0jRkYxy6191B2.webp" height="400">
    </section>

    <section>
      <h4>What is intelligence?</h4>
      <blockquote class="fragment">Perception, reasoning, and action.</blockquote>
    </section>

    <section>
      <h4>How does a machine learn?</h4>
      <blockquote class="fragment">Reinforcement with rewards and penalties.</blockquote>
    </section>

    <section>
      <h4>What does LLM stand for?</h4>
      <blockquote class="fragment">Large Language Model.</blockquote>
    </section>

    <section>
      <h4>Is AI immoral?</h4>
      <div class="fragment">
        <blockquote>No.</blockquote>
        <p class="context">Though it is very powerful, it is just a tool.</p>
      </div>
    </section>

    <section>
      <h4>How must we be careful with AI?</h4>
      <div class="fragment">
        <blockquote>Usage and training.</blockquote>
        <p class="context">We must use and train AI in a way that brings glory to God.</p>
      </div>
    </section>

    <section>
      <h4>Does AI have understanding?</h4>
      <blockquote class="fragment">No!</blockquote>
    </section>
  </section>

  <!-- OUTRO -->
  <section>
    <h2 class="r-fit-text">Now for some coding...</h2>
    <blockquote><a href="/2024/fall/computer-science/slides/python-modules">Python Modules</a></blockquote>
  </section>

  <style>
    .context {
      opacity: 0.75;
      font-size: 0.8em;
    }
  </style>

  <!-- https://www.azquotes.com/quote/229022?ref=artificial-intelligence -->
</Slides>
