---
import Slides from '@layouts/Slides.astro'
---

<!-- https://revealjs.com/markup/ -->

<Slides title="Hello World">
  <section>
    <h2 class="r-fit-text">Computer Science</h2>
    <p>Fall 2024</p>
    <p>Mr. Schubkegel</p>
  </section>

  <section>
    <section>
      <h2>About Me</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      <h3>Education</h3>
      <ul>
        <li class="fragment">Homeschooled</li>
        <li class="fragment">Skagit Valley College</li>
        <li class="fragment">George Fox University</li>
      </ul>
      <aside class="notes">
        <p>
          Homeschooling expeiences included:
          <ul>
            <li>First Class Co-op (Friday School)</li>
            <li>Skagit Defenders Speech &amp; Debate</li>
          </ul>
        </p>
        <p>I attended Skagit Valley College through Running Start.</p>
        <p>I got my bachelor of science in computer science from GFU in 2022.</p>
      </aside>
    </section>

    <section>
      <h3>Interests</h3>
      <ul>
        <li class="fragment">Game Development</li>
        <li class="fragment">Traditional Art</li>
        <li class="fragment">Music Production</li>
        <li class="fragment">Lots more!</li>
      </ul>
      <aside class="notes">
        <p>I <strong>love</strong> talking about my interests; ask me about it after class!</p>
      </aside>
    </section>
  </section>

  <section>
    <h2>About <em>You</em></h2>
    <ul>
      <li>Education</li>
      <li>Interests</li>
      <li>Why are you taking this class?</li>
    </ul>
  </section>

  <section>
    <section>
      <h2>About This Course</h2>
      <p>⬇️⬇️⬇️</p>
    </section>

    <section>
      <h3>Resources</h3>
      <ul>
        <li>
          <a href="https://hcc.rschubkegel.com/2024/fall/computer-science/" target="_blank">hcc.rschubkegel.com</a>
          <ul>
            <li>Syllabus</li>
            <li>Assignments</li>
            <li>Resources</li>
          </ul>
        </li>
        <li>
          <!-- TODO -->
          Thinkwave
          <ul>
            <li>Grades</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Course Website Tour</h3>
      <a href="https://hcc.rschubkegel.com/2024/fall/computer-science/" target="_blank">Course Site</a>
      <aside class="notes">
        <ul>
          <li>Course resources are generic to the whole course</li>
          <li>Weekly resources are specific to each week</li>
        </ul>
      </aside>
    </section>

    <section>
      <h3>Syllabus Review</h3>
      <a href="/2024/fall/computer-science/syllabus" target="_blank">Syllabus</a>
    </section>
  </section>

  <section>
    <h2 class="r-fit-text">Questions, comments, concerns?</h2>
    <p>Reach out anytime 🤙🏻</p>
    <p>
      <a href="mailto:rylanschubkegel@gmail.com" target="_blank">rylanschubkegel@gmail.com</a>
    </p>
    <p>
      <a href="tel:+13608401401">(360) 840-1401</a>
    </p>
  </section>
</Slides>
