---
import Slides from '@layouts/Slides.astro'
---

<Slides title="Python Lists">
  <!-- OVERVIEW -->
  <section>
    <h2>Python Lists</h2>
    <blockquote style="font-size: .8em">Week 4</blockquote>
    <!-- 09/26/2024 -->
  </section>

  <!-- DATA TYPES -->
  <section class="notes">
    <section>
      <h3>Review: Data Types</h3>
      <img src="https://i.giphy.com/l0JMrPWRQkTeg3jjO.webp" alt="" height="400">
    </section>

    <section>
      <h4>Two Types of Variables</h4>
      <ul class="fragment">
        <li>Primitive</li>
        <li>Compound</li>
      </ul>
    </section>

    <section>
      <h4>Primitives</h4>
      <ul>
        <li class="fragment">Integer (int)</li>
        <li class="fragment">Floating Point Number (float)</li>
        <li class="fragment">String (str)</li>
        <li class="fragment">Booleans (bool)</li>
        <li class="fragment">NoneType (None)</li>
      </ul>
    </section>

    <section>
      <h4>Reassignment</h4>
      <blockquote>Will this code throw an error?</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          year = 2024
          year = "crazy"
        </code>
      </pre>
      <p class="fragment">No ✅</p>
    </section>

    <section>
      <h4>Reassignment</h4>
      <blockquote>Will this code throw an error?</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          year = 2024
          message = year + " is crazy"
        </code>
      </pre>
      <p class="fragment">Yes 💥 Instead, do this:</p>
      <pre class="fragment">
        <code data-trim data-noescape class="language-python">
          year = 2024
          message = str(year) + " is crazy"
        </code>
      </pre>
    </section>
  </section>

  <!-- CREATING AND INDEXING -->
  <section class="notes">
    <section>
      <h3>List Basics</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExemtuZGd0bmN6eWltM25sZW15dmo1b2swc3hpbnphaXQ0cTJ0aXJmZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0QshCl75doGqEHV3jb/giphy.webp" alt="" height="400">
    </section>

    <section>
      <h4>Create a List</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2] # &lt;-- most common
          my_list = [0, 1] + [2]
          my_list = list(range(3))
        </code>
      </pre>
    </section>

    <section>
      <h4>Indexing</h4>
      <blockquote>What does this code print?</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          print(my_list[1])
        </code>
      </pre>
      <p class="fragment">1</p>
    </section>

    <section>
      <h4 class="r-fit-text">Indexing Always Starts At 0</h4>
    </section>

    <section>
      <h4>Negative Indexing</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = ["hello", "python", "world"]
          my_list[-1] # "world"
          my_list[-2] # "python"
        </code>
      </pre>
    </section>

    <section>
      <h4>Indexing Out Of Bounds 💥</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          ["hello", "world"][2]
          # Traceback (most recent call last):
          #   File "&lt;stdin&gt;", line 1, in &lt;module&gt;
          # IndexError: list index out of range
        </code>
      </pre>
    </section>

    <section>
      <h4>Looping with <code>while</code></h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          index = 0
          while index &lt; 3:
            print(my_list[index])
            index = index + 1
        </code>
      </pre>
    </section>

    <section>
      <h4>Looping with <code>for</code></h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          for item in my_list:
            print(item)
        </code>
      </pre>
    </section>

    <section>
      <h4>Looping with <code>range</code></h4>
      <div class="r-stack">
        <pre class="current-visible">
          <code data-trim data-noescape class="language-python">
            my_list = [0, 1, 2]
            for index in range(3):
              print(my_list[index])
          </code>
        </pre>
        <pre class="fragment current-visible">
          <code data-trim data-noescape class="language-python">
            my_list = ["I", "have", "so", "many", "items"]
            list_length = len(my_list)
            for index in range(list_length):
              print(my_list[index])
          </code>
        </pre>
      </div>
    </section>

    <section>
      <h4>Review</h4>
      <pre>
        <code data-trim data-noescape data-line-numbers="1|2|3|4|5" class="language-python">
          my_list = [True, "Al", 3.14]
          print(my_list[1])
          print(my_list[-1])
          print(my_list[-0])
          print(len(my_list))
        </code>
      </pre>
    </section>
  </section>

  <!-- MODIFYING LISTS -->
  <section class="notes">
    <section>
      <h3>Modifying Lists</h3>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWdubDBhOTVrODF5c3RzYWlqMWNwd2gxYnR6bmZxdDU5OG9xamFzZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3orifaGGghuf3hnmsE/giphy.webp" alt="" height="400">
    </section>

    <section>
      <h4>Updating</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = ["hello", "world"]
          my_list[1] = "Ryder"
          # ["hello", "Ryder"]
        </code>
      </pre>
    </section>

    <section>
      <h4>Append</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          my_list.append(3)
          # [0, 1, 2, 3]
        </code>
      </pre>
    </section>

    <section>
      <h4>Remove</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = ["foo", "bar"]
          my_list.remove("bar")
          # ["foo"]
        </code>
      </pre>
    </section>

    <section>
      <h4>Pop</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          my_list.pop()
          # [0, 1]
        </code>
      </pre>
    </section>

    <section>
      <h4>Pop Index</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          my_list = [0, 1, 2]
          my_list.pop(1)
          # [0, 2]
        </code>
      </pre>
    </section>
  </section>

  <!-- ACTIVITY -->
  <section class="notes">
    <h2 class="r-fit-text">Activity: To-Do List</h2>
    <ul>
      <li>
        Infinite loop with 4 commands:
        <ul>
          <li>Print list</li>
          <li>Add item</li>
          <li>Remove item</li>
          <li>Quit</li>
        </ul>
      </li>
      <li>Format the list nicely ✨</li>
    </ul>
  </section>

  <!-- OUTRO -->
  <section>
    <h2 class="r-fit-text">Have a great week 👋🏻</h2>
  </section>
</Slides>
