---
import Slides from '@layouts/Slides.astro'
---

<Slides title="Python Functions">
  <!-- OVERVIEW -->
  <section>
    <h2>Python Functions</h2>
    <blockquote style="font-size: .8em">Week 5</blockquote>
    <!-- 10/03/2024 -->
  </section>

  <!-- REVIEW -->
  <section>
    <section>
      <h3>Review</h3>
      <img src="https://i.giphy.com/lrPrJWeMi0qbSjDR1y.webp" alt="" height="400">
    </section>

    <section>
      <h4>Loops</h4>
      <ul>
        <li class="fragment">What loops does Python have?</li>
        <li class="fragment">When should you use each?</li>
      </ul>
    </section>

    <section>
      <h4>Lists</h4>
      <ul>
        <li class="fragment">Are lists a primitive data type?</li>
        <li class="fragment">What data types can you store in a list?</li>
      </ul>
    </section>

    <section>
      <h4>How to Add to a List</h4>
      <p>
        <pre class="fragment">
          <code data-trim data-noescape class="language-python">
            my_list = ["hello"]
            my_list.append("world")
          </code>
        </pre>
      </p>
    </section>

    <section>
      <h4>How to Remove from a List by Item</h4>
      <pre class="fragment">
        <code data-trim data-noescape class="language-python">
          my_list = [True, False, True]
          my_list.remove(True)
        </code>
      </pre>
    </section>

    <section>
      <h4>How to Remove from a List by Index</h4>
      <pre class="fragment">
        <code data-trim data-noescape class="language-python">
          my_list = [3.14, 2.72, 1.62]
          my_list.pop(0)
        </code>
      </pre>
    </section>

    <section>
      <h4>How to Update a List by Index</h4>
      <pre class="fragment">
        <code data-trim data-noescape class="language-python">
          my_list = ["Al", "is", "crazy"]
          my_list[2] = "cool"
        </code>
      </pre>
    </section>
  </section>

  <!-- FUNCTIONS -->
  <section>
    <section>
      <h3>Functions</h3>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmathvault.ca%2Fwp-content%2Fuploads%2FSine-Waves.jpg&f=1&nofb=1&ipt=cd2d14e0a563a52a0163fb9942460f2debb66dc594043c2ebc058606c2c120b4&ipo=images" alt="" height="400">
    </section>

    <section>
      <h4>What is a function?</h4>
      <pre>
        <code data-trim data-noescape data-line-numbers="1-2|4" class="language-python">
          def my_function():
            print("Hello World")

          my_function()
        </code>
      </pre>
    </section>

    <section>
      <h4>Defining a Function</h4>
      <blockquote>Can only have one definition</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          def my_function():
            print("I am inside the function")
            # check your indentation!
            print("I am also inside the function")
          print("I am OUTSIDE the function")
        </code>
      </pre>
    </section>

    <section>
      <h4>Calling a Function</h4>
      <blockquote>Can call many times</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          print()
          print("I am a function call")
          print( input("I will print what you type: ") )
        </code>
      </pre>
    </section>

    <section>
      <h4>Parameters and Arguments</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          def say_hi(name):
            print("Hello " + name)

          say_hi("World")
        </code>
      </pre>
      <aside class="notes">
        <p>
          Parameters are variables in a function definition;
          arguments are values passed to a function when it is called
        </p>
      </aside>
    </section>

    <section>
      <h4>Return Values</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          def add(num1, num2):
            return num1 + num2

          print( add(2, 3) )
        </code>
      </pre>
    </section>

    <section>
      <h4>Variable Scope</h4>
      <pre>
        <code data-trim data-noescape data-line-numbers="1-3|5|6|7" class="language-python">
          def get_text():
            text = input("Type some text: ")
            return text

          return_value = get_text()
          print(return_value)
          print(text)
        </code>
      </pre>
    </section>

    <!-- <section>
      <h4>What happens when a function calls itself?</h4>
      <pre>
        <code data-trim data-noescape class="language-python">
          def do_a_thing():
            do_a_thing()
        </code>
      </pre>
      <p>💥 Infinite loop!!</p>
    </section>

    <section>
      <h4>Recursive Functions</h4>
      <blockquote>Factorial is one of the most common recursive functions</blockquote>
      <pre>
        <code data-trim data-noescape class="language-python">
          def factorial(number):
            if number == 1:
              return 1
            else:
              return number * factorial(number - 1)

          print( factorial(5) )
        </code>
      </pre>
    </section> -->
  </section>

  <!-- EXAMPLES -->
  <section>
    <section>
      <h3>Function Examples</h3>
      <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW12Mmd0dTR0MzIwdXVlMjFvZXBkdmZvdzEyMHI4Ym9nbzdhbTc0ayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3orieS4jfHJaKwkeli/giphy.webp" alt="" height="400">
    </section>

    <section>
      <pre>
        <code data-trim data-noescape data-line-numbers class="language-python">
          def clean_input():
            text = input()
            text = text.strip()
            text = text.lower()
            return text
        </code>
      </pre>
    </section>

    <section>
      <pre>
        <code data-trim data-noescape data-line-numbers class="language-python">
          def sum(numbers):
            total = 0
            for n in numbers:
              total += n
            return total
        </code>
      </pre>
    </section>

    <section>
      <pre>
        <code data-trim data-noescape data-line-numbers class="language-python">
          def replace_spaces_with_underscores(string):
            for i in range( len(string) ):
              if string[i] == " ":
                string[i] = "_"
        </code>
      </pre>
    </section>

  </section>

  <!-- ACTIVITY -->
  <section>
    <h2 class="r-fit-text">Activity: Print a Table</h2>
    <ul>
      <li>Create a list variable with multiple items</li>
      <li>Define a function that prints table cells</li>
      <li>Call your function!</li>
    </ul>
    <p>
      <pre style="width: max-content;">
        <code data-trim data-noescape>
          ---------------------
          | foo || bar || baz |
          ---------------------
        </code>
      </pre>
    </p>
  </section>
</Slides>
