---
import Slides from '@layouts/Slides.astro'
---

<Slides title="Servers & The Cloud">
  <!-- OVERVIEW -->
  <section>
    <h2>Servers & The Cloud</h2>
    <blockquote style="font-size: .8em">Week 5</blockquote>
    <!-- 10/03/2024 -->
  </section>

  <!-- REVIEW -->
  <section>
    <section>
      <h3>Network Review</h3>
    </section>
  </section>

  <!-- SERVERS -->
  <section>
    <section>
      <h3>Servers</h3>
      <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGJvd2RzNzZxb2MxYmZ2N3NlaXUzaTgxcDFzZDltbHhraGlsaGEwNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XGt4quwdBAHiA6zE1Q/giphy.webp" alt="" height="400">
    </section>

    <section>
      <h4>What is a Server?</h4>
      <blockquote class="fragment">
        <small>A server is a specialized computer designed to provide services, data, or resources to other computers over a network.</small>
        <cite hidden>https://www.serverwatch.com/guides/what-is-a-server/</cite>
      </blockquote>
    </section>

    <section>
      <h4>How is a server unique?</h4>
      <ul>
        <li class="fragment">Purpose</li>
        <li class="fragment">Hardware</li>
        <li class="fragment">Operating System</li>
      </ul>
      <aside class="notes">
        <p>
          <ul>
            <li>A server provides services and resources to clients over a network</li>
            <li>Typically very powerful, often redundant components such as power supplies and hard drives to ensure high availability</li>
            <li>Usually run Windows Server or Linux instead of Windows or MacOS</li>
          </ul>
        </p>
      </aside>
    </section>

    <section>
      <h4>Clients</h4>
      <blockquote>
        <small>A client is a computer or software that requests and receives services, resources, or data from a server</small>
      </blockquote>
      <ul>
        <li class="fragment">Desktop apps</li>
        <li class="fragment">Web browsers</li>
        <li class="fragment">Email clients</li>
      </ul>
    </section>

    <section>
      <h4>Review</h4>
      <ul>
        <li class="fragment">What is a server?</li>
        <li class="fragment">How is a server unique?</li>
        <li class="fragment">What interacts with servers?</li>
      </ul>
    </section>
  </section>

  <!-- THE CLOUD -->
  <section>
    <section>
      <h3>The Cloud</h3>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.memecreator.org%2Fstatic%2Fimages%2Fmemes%2F5235895.jpg&f=1&nofb=1&ipt=58fd4e5be7827ec524b8bb824cb7f5c7286b1d4d1a9155303f40eb05bed3c02f&ipo=images" alt="" height="400">
    </section>

    <section>
      <h4>What is "The Cloud?"</h4>
      <blockquote class="fragment">
        <small>A model of delivering computing services over the internet</small>
      </blockquote>
    </section>

    <section>
      <h4>What does that mean?</h4>
      <blockquote class="fragment">
        <small>The cloud is a <em style="text-decoration: underline;">collection of servers</em> that work together to provide software or other resources</small>
      </blockquote>
    </section>

    <section>
      <h4>Common Categories of Services</h4>
      <ul>
        <li class="fragment">Software as a Service (SaaS)</li>
        <li class="fragment">Platform as a Service (PaaS)</li>
        <li class="fragment">Infrastructure as a Service (IaaS)</li>
      </ul>
      <aside class="notes">
        <p>
          <ul>
            <li>Provides software applications over the internet, eliminating the need for users to install, configure, and maintain software on their own devices</li>
            <li>Provides a complete platform for developing, running, and managing applications, including tools, libraries, and infrastructure</li>
            <li>Provides virtualized computing resources, such as servers, storage, and networking</li>
          </ul>
        </p>
      </aside>
    </section>

    <section>
      <h4>Common Cloud Services</h4>
      <ul>
        <li class="fragment">Storage (Dropbox, Google Drive)</li>
        <li class="fragment">Social Media (Instagram, Facebook, X)</li>
        <li class="fragment">Communication (Slack, Discord)</li>
      </ul>
    </section>

    <section>
      <h4>Myth: The cloud is a giant single entity</h4>
      <blockquote class="fragment">
        <small>The cloud is a collection of many different services and providers</small>
      </blockquote>
    </section>

    <section>
      <h4>Review</h4>
      <ul>
        <li class="fragment">What is "The Cloud"?</li>
        <li class="fragment">Where is the cloud?</li>
        <li class="fragment">Is the cloud the same as a server?</li>
        <li class="fragment">Do you need WiFi to use the cloud?</li>
      </ul>
    </section>
  </section>

  <!-- OUTRO -->
  <section>
    <h2 class="r-fit-text">Now for some coding...</h2>
    <blockquote><a href="/2024/fall/computer-science/slides/python-functions">Python Functions</a></blockquote>
  </section>
</Slides>
