---
import Simple from '@layouts/Simple.astro'
---

<Simple title="2024 Fall -Comp. Sci. | HCC">
  <Fragment slot="header">
    <header>
      <h1>Computer Science</h1>
      <div>HCC 2024 Fall Academic Semester</div>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>
  </Fragment>
  <blockquote>
    <p>There are only two hard things in Computer Science: cache invalidation and naming things.</p>
    <p><cite>Phil Karlton</cite></p>
  </blockquote>
  <ul>
    <li><a href="/2024/cs/slides/test">Test slide deck</a></li>
  </ul>
</Simple>
