---
interface Props {
  title?: string;
  frontmatter?: {
    title?: string;
  };
}
import Base from '@layouts/Base.astro'
const { title, frontmatter } = Astro.props
const frontmatterTitle = frontmatter?.title
const year = new Date().getFullYear()
---

<Base title={ title ?? frontmatterTitle }>
  <Fragment slot="head">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </Fragment>
  <slot name="header">
    <header>
      <h1>Class Resources</h1>
      <p><em>for <a href="https://hillcreekchristian.org/" target="_blank">HCC</a> classes taught by Rylan Schubkegel</em></p>
    </header>
  </slot>
  <slot />
  <slot name="footer">
    <footer>
      <p>&copy; <a href="https://rschubkegel.com/">Rylan Schubkegel</a> { year }</p>
      <p>Made with <a href="https://astro.build/">Astro</a>, <a href="https://simplecss.org/">Simple.css</a>, and <a href="https://revealjs.com/">reveal.js</a></p>
    </footer>
  </slot>
</Base>